//
body {
    background-color: #181818;
}

header {
    color: white;
}

footer {
    color: white;
}

body {
    color: white;
}

li {
    list-style: none;
}

.red {
    color: red;
}

.green {
    color: green;
}
